@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 50%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 206 15.3% 38.4%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;

      /* me */
      --overlay: 208 18% 43.5%;
      --dodger-blue: 204 87.6% 52.7%;
      --pastel-blue: 210, 100%, 85%;
      --error-message: 356 90.6% 54.3%;
      --forest-green: 161, 100%, 36%;
   }
   /* .dark {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
      
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;
      
      --radius: 0.5rem;
   } */
}

/* AutoComplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
   border: none;
   -webkit-text-fill-color: #fff;
   -webkit-box-shadow: 0 0 0px 1000px #000 inset;
   transition: background-color 5000s ease-in-out 0s;
}

/* Scroll bar */
::-webkit-scrollbar {
   width: 4px;
}

::-webkit-scrollbar-track {
   display: none;
   border-radius: 5px;
}

::-webkit-scrollbar-thumb {
   background: #434242;
   border-radius: 5px;
}

/* ::-webkit-scrollbar-thumb:hover {
   background: #555;
} */
